@page {
  size: auto; /* auto is the initial value */
  margin: 10mm; /* this affects the margin in the printer settings */
}

html {
  width: 210mm;
  margin: auto;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 4.2mm;
}
