.box {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: var(--space-m);
}

.box-children {
}

.grid {
  display: grid;
  grid-auto-flow: row;
  margin-top: var(--space-m);
}

@media (max-width: 767px) {
  .grid {
    --page-padding-x: max(calc((100vw - 1280px) / 2), var(--space-m));
    gap: var(--space-m);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-l);
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-l);
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--space-l);
  }
}
