.root {
  --section-gap: var(--space-l);
  --markdown-section-gap: var(--section-gap);
}

.skills-section {
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}

.contact-section {
  margin-top: var(--section-gap);
}
